* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(248, 187, 206);
    }
    
    header, h1,
    form button
        {
        font-family: "Silkscreen", sans-serif;
        font-weight: normal;
    }
    
    body, input, h2, form textarea {
        font-family: "Courier Prime", monospace;
    }
    
    .container {
        padding: 16px 0;
        color: #34080b;
    }
    
    h2 {
        font-weight: lighter;
    }
    form input,
    form textarea,
    form button {
        display: block;
        width: 320px;
        margin-bottom: 8px;
        padding: 8px;
        color:rgb(73, 41, 51)
    }

    form button {
        background-color: #5b3853;
        color: #ecf0f1;
        border: none;
        cursor: pointer;
    }
    form button:hover {
        background-color: #525458;
    }
    input:focus, textarea:focus {
        outline-color: #5a5b5d;
    }
